/*Dont show the footer unless you are logged in*/
#footer {
    display: none;
}


#wrong_password {
    display: none;
}

#email_exists {
    display: none;
}

.width20 {
  position: relative;
  display: inline-block;
  width: 20%;
  margin: 0.2rem;
}

.width100 {
  width: 100%;
}

.activityBigIcon {
 display: block;
 width: 2rem;
 height: 2rem;
}
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

#places_index_view img {
    max-width: none;
}
#places_index_view { 
   height: 100% ;
   -webkit-transform: none;
   -webkit-transition: none;

}

.thumbnail {
  display: block;
  padding: 4px;
  line-height: 10px;
  border: 1px solid #ddd;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
  margin: 0 0px 0 10px;
}

.no_borders{
   border: none;
   -webkit-box-shadow: none;
   box-shadow: none;
}


a.thumbnail:hover,
a.thumbnail:focus {
  border: 1px solid #ddd;
  -webkit-box-shadow: none;
  -moz-box-shadow:none;
  box-shadow: none;
}

.navbar-inner {
min-height: 0px;
}

/*This is only needed when the js scroller is active for bootstrap top to work
.panel > * {
   padding-top: 28px;
}*/

.navbar-fixed-bottom {
bottom: 28px;
}

.lead {
margin-bottom: 0px;
}

.navbar .btn, .navbar .btn-group {
margin-top: 0px;
margin-bottom: 4px;
}
