/*Dont show the footer unless you are logged in*/
.top_left_button {
    display: none;
}

.top_right_button {
    display: none;
}

#footer {
    display: none;
}

/*#header {*/
    /*display: none;*/
/*}*/
.alert {
    display: none;
}

.width20 {
  position: relative;
  display: inline-block;
  width: 20%;
  margin: 0.2rem;
}

.width100 {
  width: 100%;
}

.activityBigIcon {
 display: block;
 width: 2rem;
 height: 2rem;
}
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

#places_index_view img {
    max-width: none;
}
#places_index_view { 
   height: 100% ;
   -webkit-transform: none;
   -webkit-transition: none;

}

.thumbnail {
  display: block;
  padding: 4px;
  line-height: 10px;
  border: 1px solid #ddd;
  border-radius: 0px;
}

.no_borders{
   border: none;
   -webkit-box-shadow: none;
   box-shadow: none;
}

.navbar-inner {
min-height: 0px;
}

/*This is only needed when the js scroller is active for bootstrap top to work
.panel > * {
   padding-top: 28px;
}*/

.navbar-fixed-bottom {
bottom: 28px;
}

.lead {
margin-bottom: 0px;
}

.navbar .btn, .navbar .btn-group {
margin-top: 2px;
vertical-align: top;
}


img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
}
#map_canvas img,
.google-maps img {
  max-width: none;
}
