<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' type='text/css' href='bottom_nav.css'>
</head>
<div class="ui-footer ui-bar-a ui-panel-content-fixed-toolbar ui-panel-content-fixed-toolbar-closed ui-footer-fixed slideup">
    <div class="ui-navbar ui-mini">
        <ul class="ui-grid-d">
            <li class="ui-block-a">
                <a href="#" class="ui-state-persist ui-btn ui-btn-up-a ui-btn-inline">
                    <span class="ui-btn-inner">
                        <span class="ui-btn-text">Info</span>
                    </span>
                </a>
            </li>
            <li class="ui-block-b">
                <a href="#" class="ui-btn ui-btn-inline ui-btn-up-a ui-btn-active">
                <span class="ui-btn-inner">
                    <span class="ui-btn-text">Friends</span>
                </span>
            </a>
            </li>
            <li class="ui-block-c">
                <a href="#" class="ui-btn ui-btn-inline ui-btn-up-a ">
                <span class="ui-btn-inner">
                    <span class="ui-btn-text">Albums</span>
                </span>
            </a>
            </li>
            <li class="ui-block-d">
                <a href="#" class="ui-btn ui-btn-up-a ui-btn-inline">
                <span class="ui-btn-inner">
                    <span class="ui-btn-text">Emails</span>
                </span>
            </a>
            </li>



            <!-- This one I added so css isnt right? -->
            <li class="ui-block-e">
                <a href="footer-persist-d.html" class="ui-btn ui-btn-up-a ui-btn-inline">
                    <span class="ui-btn-inner">
                        <span class="ui-btn-text">Emails</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /navbar -->
</div>
<html>