<!DOCTYPE html>
<html>
    
    <head>
        <link rel='stylesheet' href='bottom_nav.css'>
    </head>
    
    <body>
        <div class="nav-glyphish-example ui-footer ui-bar-a">
            <div class="nav-glyphish-example ui-navbar ui-mini">
                <ul class="ui-grid-d">
                    <li class="ui-block-a">
                      <a href="#" id="chat" class="ui-btn ui-btn-inline ui-btn-icon-top ui-btn-up-a">
                        <span class="ui-btn-inner">
                          <span class="ui-btn-text">Chat</span>
                          <span class="ui-icon ui-icon-custom ui-icon-shadow">&nbsp;</span>
                        </span></a>
                    </li>
                    <li class="ui-block-b"><a href="#" id="email" class="ui-btn ui-btn-inline ui-btn-icon-top ui-btn-up-a">
                        <span class="ui-btn-inner">
                          <span class="ui-btn-text">Email</span>
                        <span class="ui-icon ui-icon-custom ui-icon-shadow">&nbsp;</span></span></a>
                    </li>
                    <li class="ui-block-c"><a href="#" id="skull" class="ui-btn ui-btn-inline ui-btn-icon-top ui-btn-up-a">
                        <span class="ui-btn-inner">
                        <span class="ui-btn-text">Danger</span>
                        <span class="ui-icon ui-icon-custom ui-icon-shadow">&nbsp;</span>
                      </span>
                    </a>
                    </li>
                    <li class="ui-block-d">
                      <a href="#" id="beer" class="ui-btn ui-btn-inline ui-btn-icon-top ui-btn-up-a">
                        <span class="ui-btn-inner">
                          <span class="ui-btn-text">Beer</span>
                          <span class="ui-icon ui-icon-custom ui-icon-shadow">&nbsp;</span>
                        </span>
                      </a>
                    </li>
                    <li class="ui-block-e">
                      <a href="#" id="coffee" class="ui-btn ui-btn-up-a ui-btn-inline ui-btn-icon-top">
                        <span class="ui-btn-inner">
                          <span class="ui-btn-text">Coffee</span>
                          <span class="ui-icon ui-icon-custom ui-icon-shadow">&nbsp;</span>
                        </span>
                      </a>
                    </li>
                </ul>
            </div>
        </div>
    </body>

</html>